*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  outline: none;
}

a:link,
a:visited {
  text-decoration: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Mukta", sans-serif;
}

/* Navigation Section */
.navbar {
  width: 100%;
  height: 19rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.1);
}

.navbar__top {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  gap: 8rem;
}
.navbar__top--logo {
  display: flex;
  align-items: center;
}

.navbar__top--logo i {
  font-size: 6rem;
  color: #f8872b;
  margin-right: 2rem;
}
.navbar__top--logo span {
  font-family: "Kenia", cursive;
  font-size: 4rem;
  letter-spacing: 0.3rem;
  color: #073e72;
  text-transform: uppercase;
}
.navbar__search-bar {
  position: relative;
}

.navbar__search-bar input {
  width: 52rem;
  padding: 1.2rem 1.4rem 1.2rem 3.7rem;
  background-color: #eaeff3;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: 300;
  color: #073e72;
}

.navbar__search-bar input::placeholder {
  font-size: 1.6rem;
  font-weight: 300;
  color: #073e72;
}

.navbar__search-bar i {
  position: absolute;
  top: 50%;
  left: 1.4rem;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: #073e72;
}

.navbar__user {
  font-size: 2rem;
  color: #073e72;

  display: flex;
  align-items: center;
  gap: 1.4rem;
}
.navbar__user i,
.navbar__user span {
  cursor: pointer;
}
.navbar__list {
  display: flex;
  height: 8.5rem;
  padding-top: 2rem;
}

.navbar__list--item {
  width: 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  border-left: 0.1rem solid #ededf1;
  cursor: pointer;
}
.navbar__list--item:nth-child(1) {
  border: none;
}
.navbar__list--item i {
  font-size: 2rem;
  color: #073e72;
}
.navbar__list--item span {
  font-size: 1.6rem;
  color: #073e72;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
/* End of Navigation Section */

/* Hero Section */

.hero {
  width: 100%;
  height: 90vh;
  position: relative;
}

.hero__bg {
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 65rem;
  background-color: #0b3954;
  border-radius: 3rem;
}

.hero__banner {
  width: 60%;
  height: 65rem;
  position: absolute;
  top: 8rem;
  left: 50%;
  transform: translateX(-50%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border-radius: 3rem;
}

.hero__banner--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3rem;
  opacity: 0.8;
}

.hero__banner--heading {
  position: absolute;
  top: 10rem;
  right: 5rem;
  font-size: 8rem;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  width: 40%;
  line-height: 1;
  text-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.8);
}

.hero__banner--btn {
  position: absolute;
  top: 28rem;
  width: 18rem;
  height: 4rem;
  border: none;
  border-radius: 3rem;
  font-size: 1.6rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.4s;
}

.hero__banner--btn-1 {
  right: 25rem;
  background-color: #f8872b;
  color: #fff;
}
.hero__banner--btn-1:hover {
  background-color: #fff;
  color: #f8872b;
}
.hero__banner--btn-1:hover ~ .hero__banner--btn-2 {
  background-color: #f8872b;
  color: #fff;
}
.hero__banner--btn-2 {
  right: 5rem;
  background-color: #fff;
  color: #f8872b;
}
/* End of Hero Section */

/* Products Section */
.products {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
  padding-top: 5rem;
}

.products__top {
  width: 60%;

  text-transform: uppercase;
}

.tertiary-heading {
  font-size: 2rem;
  color: #073e72;
}

.secondary-heading {
  font-size: 7rem;
  color: #f8872b;
}

.primary-heading {
  font-size: 9rem;
  color: #073e72;
  text-transform: uppercase;
}

.minus-mt {
  margin-top: -5rem;
}

.products__icons {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

.products__icons--wrapper {
  background-color: blue;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  width: 18rem;
  height: 20rem;
  padding: 3rem 0;
  background-color: #f7f7f7;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.4s;
}
.products__icons--wrapper:hover {
  background-color: #fff;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
}

.products__icons--wrapper span {
  font-size: 2.5rem;
  color: #073e72;
}

/* Pricing Section */
.pricing {
  /* background-color: aqua; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20rem;
  text-transform: uppercase;
}

.pricing__top {
  /* background-color: rgb(40, 117, 117); */
  display: flex;
  align-items: center;
  gap: 20rem;
  margin-bottom: 15rem;
}

.pricing__top--content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.pricing__top--heading {
  font-size: 7rem;
  color: #073e72;
  width: 50rem;
  line-height: 1;
}

.pricing__btn {
  align-self: flex-start;
  width: 18rem;
  height: 4rem;
  background-color: #fff;
  border: 0.1rem solid #f8872b;
  border-radius: 3rem;
  font-size: 1.6rem;
  color: #f8872b;
  cursor: pointer;
  text-transform: inherit;
  transition: all 0.3s;
}

.pricing__btn:hover {
  background-color: #f8872b;
  color: #fff;
}

.pricing__cards {
  /* background-color: orangered; */
  width: 60%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 5rem;
}

.pricing__card {
  width: 30rem;
  height: 45rem;
  background-color: #f7f7f7;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 0;
  cursor: pointer;
  position: relative;
}

.pricing__card--icons {
  position: absolute;
  gap: 1rem;
  top: 2rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
}

.pricing__card--icons i {
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  color: #073e72;
  box-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transform: translateY(2rem);
  transition: all 0.3s;
}

.pricing__card:hover .pricing__card--icons i {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.pricing__card--img-wrapper {
  /* background-color: brown; */
  width: 20rem;
  height: 18rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.pricing__card--name {
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: #073e72;
}

.pricing__card--stars i {
  font-size: 1.6rem;
  color: #f8872b;
}

.pricing__card--price {
  font-size: 1.8rem;
  color: #073e72;
}

.btn--center {
  align-self: center;
}
/* End of Pricing Section */

/* Blog Section */
.blog {
  width: 100%;
  height: 80vh;
  background-color: #073e72;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog__content {
  /* background-color: cyan; */
  width: 50%;
  height: 50rem;
  border-radius: 5rem;
  background-color: #ffb128;
}

.blog__top {
  /* background-color: red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.blog__top--megazine-img {
  margin-top: 5rem;
}

.blog__trends {
  /* background-color: antiquewhite; */
  text-transform: uppercase;
}

.blog__trends--heading {
  font-size: 6rem;
  width: 35rem;
  line-height: 1;
  color: #fff;
  margin-bottom: 3rem;
}

.blog__trends--btn {
  width: 18rem;
  height: 4rem;
  background-color: #073e72;
  border: none;
  border-radius: 3rem;
  font-size: 1.6rem;
  color: #fff;
  cursor: pointer;
  text-transform: inherit;
  transition: all 0.2s;
}

.blog__trends--btn:hover {
  background-color: #fff;
  color: #073e72;
}
.blog__articles {
  /* background-color: orange; */
  display: flex;
  justify-content: center;

  margin-top: 2rem;
  gap: 3rem;
}

.blog__article {
  /* background-color: darkblue; */
  width: 23rem;
  height: 10rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
}

.blog__article--text {
  font-size: 2rem;
  line-height: 1;
}

.blog__article--number {
  font-size: 5rem;
  font-weight: bold;
}

/* Contact section */

.contact {
  width: 100%;
  height: 40vh;
  /* background-color: rgb(111, 111, 147); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__content {
  width: 50%;
  height: 15rem;
  /* background-color: aqua; */
  display: flex;
}

.contact__left {
  width: 40%;
  height: 100%;
  background-color: #ffb128;
  border-radius: 2rem 0 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact__left--heading {
  width: 80%;
  font-size: 2.2rem;
  color: #fff;
  line-height: 1.4;
}

.contact__left--heading span {
  font-size: 2.5rem;
  color: #073e72;
}

.contact__right {
  width: 60%;
  height: 100%;
  background-color: #073e72;
  border-radius: 0 2rem 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.contact__right input {
  width: 35rem;
  height: 4rem;
  background-color: #174b69;
  border: none;
  padding: 2rem;
  border-radius: 0.5rem;
  color: #fff;
}

.contact__right input::placeholder {
  color: #fff;
  font-size: 1.4rem;
}

.contact__right input:focus {
  outline: none;
  border: 0.1rem solid #f8872b;
}

.contact__right--btn {
  width: 10rem;
  height: 4rem;
  border: none;
  background-color: #f8872b;
  color: #fff;
  border-radius: 3rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.2s;
}

.contact__right--btn:hover {
  background-color: #fff;
  color: #f8872b;
}

/* Footer Section */

.footer {
  width: 50%;
  height: 5rem;
  /* background-color: blue; */

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-bottom: 4rem;
  border-top: 0.1rem solid #ccc;
}

.copyright__text {
  font-size: 1.6rem;
  color: #073e72;
}

.footer__brand {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  text-transform: uppercase;
}

.footer__brand i {
  font-size: 2rem;
  color: #f8872b;
}

.footer__brand--heading {
  font-family: "Kenia", cursive;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  color: #073e72;
}

/* Media query */
@media (max-width: 1600px) {
  .hero__banner {
    width: 70%;
  }

  .products {
    padding-top: 10rem;
    height: 100vh;
  }

  .products__top {
    width: 70%;
  }

  .products__icons {
    width: 70%;
  }

  .pricing__cards {
    width: 70%;
  }

  .blog__content {
    width: 70%;
  }

  .contact__content {
    width: 70%;
  }

  .footer {
    width: 70%;
  }
}

@media (max-width: 1400px) {
  html {
    font-size: 54%;
  }

  .pricing__top {
    gap: 10rem;
  }

  .pricing__top--img {
    width: 60rem;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 51%;
  }

  .hero__banner {
    width: 80%;
  }

  .products__top {
    width: 80%;
  }

  .products__icons {
    width: 80%;
  }

  .pricing__cards {
    width: 80%;
  }

  .blog__content {
    width: 80%;
  }

  .blog__top--megazine-img {
    width: 40rem;
  }

  .blog__articles {
    margin-top: 0;
  }

  .contact__content {
    width: 80%;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 46%;
  }

  .navbar__top {
    gap: 2rem;
  }

  .navbar__search-bar input {
    width: 40rem;
  }

  .hero__banner--heading {
    font-size: 6rem;
  }

  .products {
    height: 90vh;
    padding-top: 5rem;
  }

  .secondary-heading {
    font-size: 5rem;
  }

  .primary-heading {
    font-size: 7rem;
  }

  .pricing__top--img {
    width: 40rem;
  }

  .pricing__top--heading {
    width: 35rem;
    font-size: 5rem;
  }

  .pricing__cards {
    width: 90%;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 39%;
  }
  .navbar__top--logo i {
    font-size: 4rem;
  }

  .navbar__search-bar input {
    width: 30rem;
  }

  .products {
    height: 75vh;
    padding-top: 0;
  }

  .products__icons--wrapper {
    height: 18rem;
  }

  .products__icons--wrapper span {
    font-size: 1.8rem;
  }

  .products__icons--img {
    width: 5rem;
  }

  .pricing__top--img {
    width: 30rem;
  }

  .pricing__card {
    width: 27rem;
  }

  .pricing__card--img {
    width: 18rem;
  }

  .blog__content {
    width: 90%;
  }

  .blog__top--megazine-img {
    width: 30rem;
  }

  .blog__trends--heading {
    font-size: 4rem;
    width: 30rem;
  }

  .blog__articles {
    margin-top: 5rem;
  }

  .contact__content {
    width: 90%;
  }

  .contact__right input {
    width: 30rem;
  }

  .footer {
    width: 90%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 35%;
  }

  .navbar__top--logo span {
    font-size: 3rem;
  }

  .navbar__search-bar input {
    width: 26rem;
  }
  .navbar__list--item {
    width: 12rem;
  }
  .hero {
    height: 75vh;
  }
  .hero__banner--heading {
    width: 30rem;
  }

  .hero__banner--btn {
    width: 15rem;
  }

  .hero__banner--btn-1 {
    right: 22rem;
  }
  .products {
    height: 90vh;
    /* margin-top: 20rem; */
  }

  .products__top {
    text-align: center;
    margin-bottom: 3rem;
  }

  .minus-mt {
    margin-top: -4.8rem;
  }

  .pricing {
    margin-bottom: 15rem;
  }

  .pricing__top {
    /* margin-top: -10rem; */
  }

  .products__icons {
    width: 70%;
    flex-wrap: wrap;
    gap: 3rem;
  }

  .products__icons--wrapper {
    width: 16rem;
  }

  .blog__article--text {
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 32%;
  }
  .navbar__top {
    gap: 2.5rem;
  }

  .navbar__top--logo span {
    display: none;
  }

  .products {
    height: 80vh;
  }

  .pricing__top--img {
    width: 25rem;
  }

  .pricing__top--heading {
    font-size: 3.5rem;
    width: 25rem;
  }

  .blog__article {
    width: 20rem;
  }

  .contact__left--heading {
    font-size: 1.8rem;
  }

  .contact__left--heading span {
    font-size: 2rem;
  }

  .contact__right input {
    width: 25rem;
  }
}
